html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    /* font-family: "PT Serif", serif; */
    font-family: "Roboto", sans-serif;
    color: #303239;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
}

/* Header */

.header {
    position: absolute;
    z-index: 20;
    margin: 0 auto;
    top: 50px;
    left: 0;
    right: 0;
    padding: 0 1.875em;
    /* max-width: 1032px; */
}

.header.open .sidebar {
    transform: translateX(100%);
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__logo {
    flex-grow: 1;
    align-self: center;
}

.header__logo a img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.header__signUp a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 15px 13px;
    border: 1px solid rgba(255, 255, 255, .3);
}

.header__burger {
    z-index: 150;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
}

.header__burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger span {
    background-color: #00a1d9;
}

.header.open .header__burger span:nth-child(1) {
    transform: translateY(0) rotate(135deg);
}

.header.open .header__burger span:nth-child(2) {
    opacity: 0;
    transform: translateX(150%);
}

.header.open .header__burger span:nth-child(3) {
    transform: translateY(0) rotate(-135deg);
}

.sidebar {
    transition: transform ease-in .5s;
    position: relative;
    top: -105px;
    left: -380px;
    right: 0;
    bottom: 0;
    z-index: 19;
    padding: 150px 20px 20px 20px;
    height: 100vh;
    width: 350px;
    background-color: #fff;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #00a1d9;
    font-family: "PT Serif", serif;
    font-size: 20px;
    color: #333366;
}

.sidebar__menu li a {
    transition: color .2s linear;
}

.sidebar__menu li a:hover {
    color: #00a1d9;
    transition: color .2s linear;
}

.sidebar__phones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar__phones-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar__phones-item p {
    font-size: 20px;
}

.switch_lang {
    width: 90px;
    color: #fff;
}

.switch_lang a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .5s linear;
}

.switch_lang ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.switch_lang img {
    width: 30px;
}

.switch_lang-list > li {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    margin-bottom: 2px;
}

.switch_lang-sublist {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 15;
    width: 90px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
}

.switch_lang-sublist li {
    position: relative;
    top: 0;
    left: 0;
}

.switch_lang-sublist .switch_lang-sublist {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    left: -webkit-calc(100% - 1px);
}

.switch_lang-list li:hover > .switch_lang-sublist{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

/* Intro */

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ccc;
}

.intro__media::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: linear-gradient(to bottom, rgba(17, 16, 16, 0.64) 0%, rgba(125, 185, 232, 0) 50%);
}

.intro__media-video {
    opacity: 0;
    z-index: 8;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.intro__media-video.active {
    opacity: 1;
}

.intro__buttons {
    position: relative;
    z-index: 21;
    display: flex;
    gap: 20px;
    top: -10%;
    left: 10%;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.intro__buttons span {
    position: absolute;
    right: -160px;
    bottom: 0;
    z-index: 10;
    font-weight: 500;
    user-select: none;
}

.intro__btn {
    text-align: center;
    padding: 24px 16px;

    font-family: "PT Serif", serif;
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.intro__btn.active {
    color: #fff;
}

.intro__indicator {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: calc(100% / 3);
    transition: 0.3s;
}

.intro__content-title {
    max-width: 1000px;
    position: absolute;
    top: 45%;
    left: 26%;
    z-index: 10;
    font-family: "PT Serif", serif;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    /* line-height: 1; */
    opacity: 0;
    user-select: none;
}

.intro__content-title.active {
    opacity: 1;
}

.intro__app {
    position: absolute;
    bottom: 5%;
    right: 3%;
    z-index: 25;
}

.intro__app ul {
    display: flex;
    gap: 20px;
}


/* Info */

.info {
    background-color: #fff;
}

.info__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.info__left {
    position: relative;
    margin-bottom: -20px;
    margin-left: -160px;
    margin-top: -20px;
    margin: -20px 0 -20px -160px;
    padding: 60px 30px 60px 160px;
    width: 1000px;
    height: 850px;
}

.info__left-active {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 0 81px 0 rgba(30, 48, 85, 0.4);
    left: 0;
    right: 0;
    top: 0;
    z-index: 90;
}

.info__left-next {
    background-color: #ffffff;
    bottom: 10px;
    box-shadow: 0 0 81px 0 rgba(30, 48, 85, 0.4);
    left: 10px;
    margin-right: -30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 80;
}

.info__right {
    flex: 0 0 352px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 0 98px 50px;
}

.info__right h2 {
    font-family: 'PT Serif';
    font-size: 24px;
    font-weight: 500;
}

.info__right-btn {
    background-color: #00a1d9;
    border-radius: 3px;
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}




/* Tabs */

.tab__btns {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tab__indicator {
    position: absolute;
    top: 12px;
    left: 0;
    width: 4px;
    height: 25px;
    background-color: #00a1d9;
    transition: 0.3s;
}

.tab__btn {
    padding: 16px 0 16px 16px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #9da0a6;
    text-transform: uppercase;
    user-select: none;
}

.tab__btn.active {
    color: #303239;
}

.tab__body {
    position: relative;
    z-index: 100;
}

.tab__slide {
    position: absolute;
    /* top: -20%; */
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.tab__slide.active {
    top: 0;
    opacity: 1;
    transform: scale(1);
}

/* <-- Tabs --> */

.tab__slide-title {
    font-family: 'PT Serif';
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 48px;
}

.tab__slide-text {
    margin-bottom: 32px;
    line-height: 1.67;
    word-spacing: 3px;
}

.tab__slide-text p+p {
    margin-top: 32px;
}

.tab__slide-complex {
    display: flex;
    justify-content: space-between;
    gap: 20px 10px;
    flex-wrap: wrap;
}

.tab__slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 220px;
}

.tab__slide-item_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    margin-bottom: 15px;
}

.tab__slide-item img {
    width: 100%;
}

.tab__slide-item p {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
}


/* Statistics */

.statistics {
    padding: 80px 0 128px 0;
    background-color: #2d2f36;
}

.statistics__title {
    font-family: 'PT Serif';
    font-size: 48px;
    font-weight: 400;
    color: #e1e4e6;
    margin-bottom: 80px;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(225, 228, 230, 0.3);
}

.statistics__list {
    display: flex;
    justify-content: space-between;
    gap: 64px 56px;
    flex-wrap: wrap;
}

.statistics__item {
    display: flex;
    align-items: center;
    flex-basis: 500px;
    gap: 32px;
}

.statistics__item-img {
    border-radius: 50%;
    border: 1px solid rgba(0, 161, 217, 0.2);
    padding: 38px;
    font-size: 0;
}

.statistics__item-img img {
    width: 50px;
    height: auto;
}

.statistics__item-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
}

.statistics__item-box p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
}


/* map */

.map {
    padding: 40px 0;
    background-color: #00a1d9;
    background-color: #333366;
}

.container__map {
    max-width: 1500px;
    margin: 0 auto;
}

.map__title {
    font-family: 'PT Serif';
    font-size: 48px;
    font-weight: 400;
    color: #e1e4e6;
    margin-bottom: 80px;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(225, 228, 230, 0.3);
}

.map__img {
    width: 100%;
}


/* awards */

.awards {
    background-color: #fff;
}

.awards__wrapper {
    position: relative;
}

.award {
    user-select: none;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 48px;
    border: 1px solid #d7e5f0;
}

.award img {
    margin-bottom: 40px;
    max-width: 37px;
}

.award__title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
}

.award__descr {
    color: #8b98a7;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none;
}

.awards__arrows {
    user-select: none;
    position: absolute;
    top: 60px;
    right: -60px;
}

.awards__arrows-left img{
    width: 26px;
    height: 26px;
}

.awards__arrows-right img{
    width: 26px;
    height: 26px;

}

.awards__arrows-left {
    padding: 15px 22px;
    border: 1px solid #d7e5f0;
}

.awards__arrows-right {
    padding: 10px 20px;
    border: 1px solid #d7e5f0;

    position: absolute;
    top: 0;
    left: 55px;
}



/* news */

.news {
    padding: 100px 0;
    background-color: #2d2f36;
}

.news__wrapper {
    display: flex;
    flex-direction: column;
}

.news__title {
    font-family: 'PT Serif';
    font-size: 48px;
    font-weight: 400;
    color: #e1e4e6;
    margin-bottom: 40px;
    padding-bottom: 64px;
    border-bottom: solid 1px rgba(225, 228, 230, 0.3);
}

.news__accordeon {
    border-bottom: solid 1px rgba(225, 228, 230, 0.3);
}

.accordeon__item {
    position: relative;
    z-index: 1;
    transition: all .3s ease;
}

.accordeon__item::before {
    position: absolute;
    content: '';
    background-color: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease;
}

.accordeon__item--active::before {
    top: -12px;
    left: -48px;
    bottom: -12px;
    right: -48px;
    opacity: 1;
}

.accordeon__item:hover.accordeon__item::before {
    top: -12px;
    left: -48px;
    bottom: -12px;
    right: -48px;
    opacity: 1;
}

.accordeon__trigger {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    cursor: pointer;
    user-select: none;
}

.accordeon__trigger img {
    max-width: 50px;
    max-height: 50px;
}

.accordeon__trigger-data {
    display: flex;
    gap: 24px;
}

.accordeon__trigger-day {
    font-family: 'PT Serif';
    font-size: 56px;
    font-weight: normal;
    line-height: 1;
    color: #b29a6d;
}

.accordeon__trigger-month {
    position: relative;
    color: #b29a6d;
    font-family: 'PT Serif';
    font-size: 24px;
}

.accordeon__trigger-month::before {
    position: absolute;
    content: '/';
    top: 0;
    left: -12px;
}

.accordeon__trigger-title {
    color: #e1e4e6;
    font-size: 20px;
    font-weight: 400;
}

.accordeon__trigger--opened .accordeon__trigger-title {
    color: #2d2f36;
}

.accordeon__item:hover .accordeon__trigger-title {
    color: #2d2f36;
}

.accordeon__trigger-img__wrapper {
    flex-grow: 1;
    text-align: end;
}

.accordeon__trigger-img {
    width: 20px;
    height: 20px;
    transition: transform .2s ease-in;
}

.accordeon__trigger--opened .accordeon__trigger-img {
    opacity: 1;
    transform: rotate(180deg);
}

.accordeon__content {
    display: none;
    opacity: 0;
    height: 0;
    padding-top: 16px;
    padding-bottom: 0;
    animation:  fadeIn 1.5s;
    line-height: 1.55;
    /* transition: opacity 2s ease, height ease 2s; */
}

.accordeon__item--active .accordeon__content {
    display: block;
    opacity: 1;
    height: auto;
    padding-bottom: 20px;
    padding-left: 136px;
    padding-right: 50px;
}

.accordeon__content img {
    width: 100%;
}

.accordeon__content img+img {
    margin-top: 30px;
}

.accordeon__content p+p {
    margin-top: 12px;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}



/* contacts */

.contacts {
    background-color: #fff;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contacts__left {
    position: relative;
    margin-bottom: -20px;
    margin-left: -160px;
    margin-top: -20px;
    margin: -20px 0 -20px -160px;
    padding: 60px 50px 0 160px;
    width: 1000px;
}

.contacts__left-active {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 0 81px 0 rgba(30, 48, 85, 0.4);
    left: 0;
    right: 0;
    top: 0;
    z-index: 90;
}

.contacts__left-next {
    background-color: #ffffff;
    bottom: 10px;
    box-shadow: 0 0 81px 0 rgba(30, 48, 85, 0.4);
    left: 10px;
    margin-right: -30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 80;
}

.contacts__right {
    flex: 0 0 352px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 0 98px 30px;
}

.contacts__body {
    position: relative;
    z-index: 100;
}

.contacts__title {
    font-family: 'PT Serif';
    font-size: 40px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 43px;
}

.contacts__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.contacts__info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__info-item p {
    font-size: 20px;
    font-weight: 500;
}



/* form */

.form__title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

.form__block {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
}

.form__block input {
    font-family: "Roboto", sans-serif;
    background: transparent;
    height: 40px;
    border: none;
    border-bottom: 1px solid #303239;
    padding-left: 20px;
    font-size: 18px;
    color: #303239;
}

.form__block input::placeholder {
    font-size: 18px;
    color: #8b98a7;
}

.form__block input:focus::placeholder {
    color: #00a1d9;
}

.form__block input:focus {
    outline: none;
}

.form__block-name {
    width: 100%;
}

.form__block-mail, 
.form__block-phone, 
.form__block-company, 
.form__block-count {
    width: 300px;
}

.text__area {
    margin-bottom: 50px;
}

.text__area textarea {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    border: none;
    border: 1px solid #303239;
    border-radius: 5px;
    outline: none;
    background: transparent;
    padding-left: 20px;
    font-size: 18px;
    color: #303239;
}

.text__area textarea::placeholder {
    font-size: 18px;
    color: #8b98a7;
}

.text__area textarea:focus::placeholder {
    color: #00a1d9;
}

.form__btn {
    background-color: #00a1d9;
    border-radius: 5px;
    padding: 20px 50px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.contacts__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contacts__items-title {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.contacts__items-title.contacts__items-title--active {
    color: #00a1d9;
}

.contacts__content-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.contacts__content-text {
    position: relative;
    width: 400px;
    top: -550px;
    left: 800px;
    font-size: 14px;
}

.contacts__content-text p+p {
    margin-top: 20px;
}



/* footer */

.footer {
    padding: 100px 0 80px;
    color: #9da0a6;
    background-color: #2d2f36;
}

.footer__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__app {
    position: absolute;
    right: 0;
}

.footer__app ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer__app img {
    width: 80%;
}

.copyrigt {
    color: #fff;
}

.author {
    font-size: 13px;
}